body {
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.form-container {
  background-color: #d3d3d3;
  padding: 80px;
  border-radius: 10px;
}

.conference,
.dependant,
.attendance,
.camping,
.ministeries,
.minister,
.tcgc,
.firstTime,
.imgc,
.expectation,
.past {
  display: none;
  margin-top: 20px;
}

.form-control {
  background-color: #f8f9fa;
}

.btn:hover {
  background-color: teal;
  border: none;
}
